
.MainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr auto auto;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.762);
    margin: 0;
    background-color: #2a0303;
    font-size: large;
}

.mainContent ul {
    margin: auto;
    display: inline-block;
    text-align: left;
}

.lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: auto;
}

nav {
    grid-row: 1;
    grid-column: 1 / span 2;
    position: fixed;
    padding: 0;
    width: 100%;
    background-color: black; 
}

.navBar {
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Home {
    grid-column: 1;
}

.About {
    grid-column: 3;
}


.Projects {
    grid-column: 2;
}

.navBar a {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.773);
    margin: 20px;
    font-size: 25px;
}

.picBox {
    background-color: #290303;
    width: 30%;
    height: 15px;
    margin: auto;
    margin-top: -4px;
    border-radius: 5px;
}


header {
    grid-row: 2;
    grid-column: 1;
    margin-top: 20px;
}

.headerContent{
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
}


section {
    grid-row: 3;
    grid-column: 1;
    background: linear-gradient(#2a0303, #560606);
    padding-bottom: 10px;
}

.mainContent {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 30px;
}

.proContainer {
    background: linear-gradient(#6c0808, #560606);
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 5px 7px black;
}

.myPic {
    width: 30%;
}

.messageSection {
    background: linear-gradient(#6c0808, #560606);
    border-radius: 7px;
    box-shadow: 5px 7px;
    box-shadow: 5px 7px black;
    padding: 10px;
}

.messageSection a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.messageSection button {
    margin: 10px;
    height: 40px;
}

footer {
    grid-row: 4;
    grid-column: 1 / span 2;
    background-color: #560606;
}

.footerContent {
    text-align: center;
}

.line {
    width: 40%;
    background-color: #340404;
    height: 4px;
    margin: auto;
    border-radius: 2px;
    margin-top: 120px;
    margin-bottom: 70px;
}

.emailBtn {
    background-color: #3a0404;
    border: #0c0101;
    border-radius: 4px;
}

.emailBtn :hover {
    background-color: #290000;
}

.emailBtn a{
    padding: 10px;
    margin: 0;
    color: rgba(255, 255, 255, 0.692);
}




@media (max-width: 800px) {

    .navBar {
        text-align: left;
        margin: 0;
        margin-left: 10%;
    }

    .lists {
        width: 100%;
    }
    
    .mainContent {
        width: 90%;
    }
    
    .proContainer {
        width: 80%;
    }  
    
    .myPic {
        width: 40%;
    }
    
    footer {
        padding: 20px;
    }
}